/* css reset */
  html,body,a,p,div,span,ul,h1,h2,h3,h4,span{margin: 0; padding: 0; font-size: 12px; font-family: '微软雅黑'}
  img{border: none;}
  a{text-decoration: none; cursor: pointer;}
  html,body{background: #efefef;}
  li{list-style: none;}
  label{cursor: pointer;}

  body{
    /* @meta {"spritesheet": {"include": false}}  */
    background-image: url(../images/bg.jpg);
  }