/* css reset */
html,body,a,p,div,span,ul,h1,h2,h3,h4,span{margin: 0; padding: 0; font-size: 12px; font-family: '微软雅黑'}
img{border: none;}
a{text-decoration: none; cursor: pointer;}
html,body{background: #efefef;}
li{list-style: none;}
label{cursor: pointer;}

body{
  background-color: #d5ebfd;
  /* @meta {"spritesheet": {"include": false}}  */
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}
header{
}
.mainpage{
  width: 1000px;
  margin: 0 auto;
}
.logo{
  margin: 10px 0;
}
nav{
  height: 40px;
  background-color: #1477ca;
  width: 100%;
  color: #FFFFFF;
}

nav h3{
  font-size: 16px;
  line-height: 40px;
  margin-left: 30px;
  width: 400px;
  float: left;
}
nav p{
  width: 360px;
  float: left;
  font-size: 16px;
  line-height: 40px;
  margin-left: 20px;
}
nav a{
  float: left;
  font-size: 16px;
  line-height: 40px;
  margin-left: 20px;
}
section{
  width: 1014px;
  margin: 20px auto 0;
  clear: both;
  overflow: auto;
}
.left{
  float: left;
  width: 430px;
  height: 680px;
}
.center{
  float: left;
  width: 325px;
  margin: 0 30px;
  height: 680px;
}
.ctop,.cbot{
  border-radius: 10px;
  background: #FFF;
  position: relative;
}
.ctoph3,.cboth3{
  display: block;
  background: #226cab;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  padding-bottom: 10px;
}
.ctop ul,.cbot ul{
  border-radius: 10px;
  background: #fff;
  margin-top: -10px;
  padding: 10px 20px;
}
.ctop h3,.cbot h3{
  height: 22px;
  width: 74px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: 8px;
  left: 15px;
  padding-left: 35px;
  background: url(../images/ctopbg.jpg) #fff no-repeat;
}
.ctop li,.cbot li{
  margin: 10px auto;
  font-size: 15px;
  background: url(../images/li.jpg) no-repeat;
}
.ctop li a,.cbot li a{
  color: #000;
  font-size: 13px;
}
.ctop li a:hover,.cbot li a:hover,.bm li a:hover{
  color: #226cab;
}
.cbot{
  margin-top: 24px;
}
.ctop p{
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  font-size: 14px;
}
.right{
  float: left;
}
.timedata{
  width: 190px;
  height: 140px;
  background: #fff;
}
.bmml{
  margin-top: 40px;
  width: 190px;
  height: 440px;
  background: #fff;
  border-radius: 10px;
}
.bmmlh3{
  display: block;
  background: #226cab;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  padding-bottom: 10px;
}
.bmml h3{
  height: 22px;
  width: 74px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: 8px;
  left: 15px;
  background: #fff;
  text-align: center;
  font-size: 14px;
}
.bmml ul{
  border-radius: 10px;
  background: #fff;
  margin-top: -10px;
  padding: 10px 20px;
}
.bm li span{
  font-family: '楷体';
  width: 60px;
  font-size: 20px;
  color: #000;
  margin-right: 10px;
}
.bm li{
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0 9px;
  border-bottom: 3px solid #ccc;
}
.bm li a{
  color: #000;
}
.bzbg{
  background: url(../images/bzbg.jpg);
  width: 430px;
  height: 600px;
  box-shadow: 0px 0px 4px #ccc;
}
.lc{
  width: 430px;
  height: 50px;
  background: #226cab;
  margin-top: 20px;
}
.lc p{
  display: block;
  float: left;
  width: 100px;
  line-height: 50px;
  font-size: 16px;
  color: #ffffff;
  margin-left: 40px;
}
.lc div{
  float: left;
  width: 50px;
  margin-left: 60px; 
  line-height: 50px;
  padding-left: 25px;
  background: url(../images/bz.png) no-repeat;
}
.lc a{
  color: #ccc;
}
.timeleft{
  width: 30px;
  height: 140px;
  float: left;
  cursor: pointer;
  background: #6d929b url(../images/left.png) no-repeat;
}
.timecenter{
  float: left;
  width: 130px;
}
.timecenter p{
  font-size: 22px;
  text-align: center;
  color: #485c5a;
  margin-top: 30px;
  font-weight: 800;
}
.timecenter select{
  height: 30px; line-height: auto; vertical-align: middle; height: 22px\9; padding: 3px 0\9; box-sizing:content-box; font-size: 13px;
  width: 80px;text-align: center;margin: 20px auto;display: block;font-size: 16px;position: relative;left: 2px;color: #485c5a;font-weight: 600;
}
.timeright{
  width: 30px;
  height: 140px;
  float: right;
  background: #6d929b url(../images/right.png) no-repeat;
   cursor: pointer;
}
footer{
  margin-top: 35px;
  height: 80px;
  padding-top: 40px;
  background: #226cab;
}
footer p{
  margin: 0 auto;
  line-height: 20px;
  width: 960px;
  text-align: center;
  font-size: 14px;
}


.ej_left{
  width: 430px;
  float: left;
}
.ej_left .ctop{
  border-radius: 10px;
  background: #FFF;
  position: relative;
}
.ej_center{
  width: 430px;
  margin-top: 20px;
}
.ej_right{
  float: right;
  width: 550px;
  background: #f3f3f3;
  border-radius: 20px;
  min-height: 1300px;
  padding: 20px 10px;
}
.ej_right h3{
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
.ej_right .zz{
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.ej_right p{
  line-height: 25px;
  font-size: 14px;
  margin: 4px 0;
  text-indent: 2em;
}
